{% extends 'base.html' %}

{% block title %}Kitoblar Ro'yxati{% endblock %}

{% block content %}
    <div class="panel">
        <h2>Kitoblar Ro'yxati</h2>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Kitob rasmi">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">{{ book.summary|truncatewords:20 }}</p>
                            <a href="{% url 'book_detail' book.id %}" class="btn btn-book">Batafsil ko'rish</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
